{% extends 'index.html' %}
{% block content %}
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src= "{{url_for('static',filename="melba_profile.png")}}" alt="Image">
      </figure>
    </div>
  <div class="media-content">
    <div class="content">
      <p>
        <a href = "{{url_for('profile', username='melba')}}"
        <strong>Melba</strong> <small>@melba</small>
        <br>
        <textarea class="textarea" placeholder="New Post" rows=1></textarea>
        </a>
      </p>
    </div>
    <div>
      <button class="button is-link mt-4 mb-4">Post</button>
    </div>
  </div>
  </article>
</div>
  {% for post in posts.values() %}

  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src= "{{url_for('static',filename=post['Picture'])}}" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <a href = "{{url_for('profile',username=post['Username'])}}">
            <strong>{{post["Name"]}}</strong> <small>@{{post['Username']}}</small> <small>{{post["DateTime"]}}</small>
            <br>
            {{post['Text']}}
            </a>
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item" aria-label="like">
              <span class="icon is-small">
                <i class="far fa-heart"></i>
              </span>
              <span>{{post["Likes"] | count}}</span>
            </a>
            <a class="level-item" aria-label="comments" href="{{url_for('comments',post_id=post['post_id'])}}">
              <span class="icon is-small">
                <i class="far fa-comment"></i>
              </span>
              <span>{{post['Comments'] | count}}</span>
            </a>
        </div>
        </nav>
      </div>
    </article>
  </div>

  {% endfor %}
{% endblock %}
